@font-face {
  font-family: 'Raleway';
  src: url(./ralewayregular.ttf) format('truetype'),
  src: url(./ralewayregular.woff) format('woff'),
  src: url(./ralewayregular.woff2) format('woff2');
  font-weight: 400;
  font-displayt: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url(./ralewaymedium.ttf) format('truetype'),
  src: url(./ralewaymedium.woff) format('woff'),
  src: url(./ralewaymedium.woff2) format('woff2');
  font-weight: 500;
  font-displayt: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url(./ralewaybold.ttf) format('truetype'),
  src: url(./ralewaybold.woff) format('woff'),
  src: url(./ralewaybold.woff2) format('woff2');
  font-weight: 700;
  font-displayt: swap;
}